*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
}

.container{
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 8x 30px rgba(0,0,0,0.15);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 500px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    overflow: hidden;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    background: #fff;
}

.form-container h2{
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
}

.form-container input{
    background: #f0f0f0;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 6px;
    outline: none;
}

.form-container button{
    border-radius: 25px;
    border: none;
    padding: 12px 45px;
    margin-top: 20px;
    background: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-container button:hover{
    background: #333;
}

.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container{
    left: 0;
    opacity: 0;
    z-index: 1;
    width: 50%;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    
}

.overlay{
    background: #000;
    background: linear-gradient(to right, #000, #111);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    display: flex;

}

.overlay-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    width: 50%;
}

.overlay-panel h2{
    margin-bottom: 15px;
}

.overlay-panel button{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 45px;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.overlay-panel button:hover{
    background: #111;
    
}

/* Toggle effecct*/
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay{
    transform: translateX(50%);
}

.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
    border-radius: 0 100px 100px 0;
}

.container:not(.right-panel-active) .overlay-container{
    transform: translateX(0);
    border-radius: 100px 0 0 100px;
}

.container:not(.right-panel-active) .overlay{
    transform: translateX(0);
}